<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6 no-js" lang="en"  ng-app="cropper"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7 no-js" lang="en"  ng-app="cropper"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8 no-js" lang="en"  ng-app="cropper"> <![endif]-->
<!--[if gte IE 9 ]><html class="ie ie9 no-js" lang="en"  ng-app="cropper"> <![endif]-->
<!--[if !(IE)]><!--><html lang="en" class="no-js"  ng-app="cropper"> <!--<![endif]--><head>
<!-- Load html shiv if earlier than IE 9 -->
<!--[if lt IE 9]>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
<![endif]-->
<title>Image Cropper</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=yes, minimal-ui">
<meta name="description" content="Change this">
<meta name="keywords" content="Change this">
<!-- facebook Open Graph  -->
<meta property="og:title" content="Change this">
<meta property="og:description" content="Change this">
<meta property="og:image" content="Change this">  
<meta property="og:url" content="Change this">
<meta property="og:type" content="website">
<!-- end facebook Open Graph-->
<!-- shortcut icons  -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="shortcut icon" href="#" type="image/x-icon" />
<link href="#" rel="apple-touch-icon" sizes="60x60"/>
<link href="#" rel="apple-touch-icon" sizes="76x76" />
<link href="#" rel="apple-touch-icon" sizes="120x120" />
<link href="#" rel="apple-touch-icon" sizes="152x152" />
<!-- end shortcut icons  -->
<link rel="stylesheet" type="text/css" media="screen" href="/files/css/main.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js" charset="utf-8">
	
</script>

</head>
	<body class="page-name page-style">
<!-- 	<iframe style="display:none" src="/files/cache/cache.html" frameborder="0" height="0" width="0"></iframe> -->
		<nav class="blue-grey darken-2">
		   <div class="nav-wrapper">
		     <a href="#" class="brand-logo center font-strong"><strong>Image Cropper</strong></a>
		   </div>
		 </nav>		
		 <main class="blue-grey lighten-4">
		 	<section class="row">
			 	<article class="padding-none  col s9">
					<div class="cropper-container">
						<img src="/files/assets/image.jpg" class="responsive-img" alt="Change Me" />
					</div>
				 	
			 	</article>
			 	<aside class="col s3 blue-grey lighten-4" ng-controller="CropController">

					 	<ul>
						 	<li>
								<div class="file-field input-field">
							      <input class="file-path validate" type="text"/>
							      <div class="btn btn-flat cyan darken-1">
							        <span><i class="mdi-editor-insert-photo white-text"></i></span>
							        <input type="file" />
							      </div>
							    </div>						 	
    						</li>
						 	<li>
								<select class="pre-defined-sizes">
								    <option value="" disabled selected>Select Predefined Size</option>
								    <option value="1">Marquee</option>
								    <option value="2">Used Equipment</option>
								    <option value="3">Sales Rep</option>
								</select>
							</li>
							<li>
								<div class="row">
								      <div class="input-field col s6 padding-none ">
								        <input id="width_input" type="number" step="5" class="validate" ng-model="options.width" ng-change="updateWidth(options.width)"  value="{{options.width}}">
								        <label for="width_input">Width:</label>
								      </div>
								      <div class="input-field col s6 padding-none ">
								        <input id="height_input" type="number" step="5" class="validate" ng-model="options.height" ng-change="updateHeight(options.height)" value="{{options.height}}" >
								        <label for="height_input">Height:</label>
								      </div>
								</div>							
    						</li>
							<li>
								<button class="waves-effect waves-blue btn-flat blue darken-3 white-text" ng-click="downloadImg()">Download <i class="mdi-file-cloud-download right"></i></button>
							</li>
						 	<li>
						 	
						 	</li>
						</ul>
						
					
			 	</aside>
			 	
		 	</section>
		 	
		 </main>
		
		
		
		
		
		<!-- JAVASCRIPT  -->
		<!--[if lt IE 9]>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<![endif]-->
		<!--[if (gte IE 9) | (!IE)]><!-->  
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>  
		<!--<![endif]-->
		<script src="/files/js/libs-min.js"></script>
	 	<script src="/files/js/site-min.js"></script>
	 	</script>
	 	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/js/materialize.min.js"></script>

	</body>
</html>