//Load Fonts
	
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro|Open+Sans:400italic,400,700,600,800|Open+Sans+Condensed:300,700);	

//Font Names
$headingFont: 'Open Sans Condensed', sans-serif;
$paragraphFont: 'Open Sans', sans-serif;
$sourceFont: 'Source Sans Pro', sans-serif;

//media querie variables http://bradfrostweb.com/blog/post/7-habits-of-highly-effective-media-queries/#overboard
$smallBP: 24em;
$smallBP2: 29.75em;
$smallBP3: 39.8em;
$mediumBP: 46.8em;
$mediumBP2: 48em;
$largeBP: 50em;
$largeBP2: 54.5em;
$xlargeBP: 60em;
$xlargeBP2: 67em;

