.col.padding-none {
	padding: 0px;
}
.input-field label {
	left: 0;
}

.dropdown-content {
	background: #1e88e5;
}
.tabs .indicator {
	background: #274E88;
}
section.row {
	margin-bottom: 0;
}
@media #{$medium-and-down} {
	.row aside.col  {
		padding: 1em;
	}
}
